@model IEnumerable<UdemBank.SavingGroup>

@{
    ViewData["Title"] = "Grupos de Ahorro";
}

<h1>Grupos de Ahorro</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo Grupo</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Creador</th>
            <th>Capital Total</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.User.Name</td>
            <td>$@item.TotalAmount.ToString("N2")</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Detalles</a>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Editar</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
